
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: monospace;
  font-size: 1.1em;
}

.container{
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #b68061 0 40%, #a95247 80%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.innerContainer{
  width: 25rem;
padding: 2rem;
background-color: #6786ebb1;
color: #fff;
font-size: 1.2rem;
border-radius: 20px;
}
.innerContainer h2{
text-align: center;
margin-bottom: 1rem;
font-size: 2rem;
}

.form div{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
 
}

.form div input{
  border: none;
  background: #8591b8;
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  outline: none;
  font-size: 1rem;
  border-radius: 8px;
}
.form div input::placeholder{
  color: rgb(26, 23, 23);
}

.btn{
  border: none;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  background: green;
  color: #fff;
  width: 40%;
  border-radius: 0.5rem;
}
.btn:hover{
    background: rgb(5, 107, 5);
  color: #fff;
}

.entries{
  background-color: grey;
  display: flex;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
}

.data{
  font-size: 1.5rem;
}